---
import { Image, Picture } from 'astro:assets';
import logo from '/src/assets/img/logo.svg';
import blur from '/src/assets/img/bg.svg';
import background from '/src/assets/img/background.svg';
---

<!-- HEADER -->
<nav
  transition:persist="nav"
  transition:name="nav"
  class="container fixed top-1 md:left-5 md:right-5 xl:max-w-7xl mx-auto font-sans bg-background-0/10 backdrop-blur-3xl rounded-xl p-5 flex justify-between items-center z-50"
>
<div class="w-20 z-50">
  <a
    href="/"
    class="text-4xl lg:text-6xl font-black bg-clip-text bg-primary-0 text-transparent"
  >
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 2000' fill='#1432DA'><path d='M90.52 1030.15c-61.1-385.21 571.6-163.61 678.26-264.06S698.28 47.36 1010.06 82.4c373.81 42.01 219.52 583.26 321 684.74 101.48 101.48 602.41-36.03 581.96 263.02-24.85 363.46-529.33 170.96-618.81 263.07-89.48 92.11 110.37 667.89-261.38 623.36-324.3-38.84-190.1-537.98-279.37-640.76s-611.64 77.77-662.94-245.67Z'></path></svg>
  </a>
</div>

  </div>
  <button
    transition:persist
    id="menu-image"
    class="z-50 p-2 rounded-lg transition-colors duration-150 hover:bg-zinc-800"
  >
    <Image
      id="menu-icon"
      src="/src/assets/img/menu.svg"
      width="34"
      height="34"
      alt="menu"
    />
    <div class="relative">
      <div
        id="main-menu"
        class="menu bg-[#040404]/[98%] hidden overflow-y-auto animation z-40 fixed left-0 right-0 top-20 h-full w-full min-h-screen lg:min-h-[700px] max-w-[1120px] mx-auto rounded-xl"
      >
        <Picture
          src={background}
          class="absolute blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]"
          alt="blur background"
          formats={['avif', 'webp']}
        />
        <ul
          class="text-7xl lg:text-8xl font-black grid gap-y-5 lg:gap-y-10 my-auto mt-10 lg:mt-0 content-start lg:content-center h-full max-h-[680px] text-white"
        >
          <li>
            <a href="/" class="hover-link active"> Home</a>
          </li>
          <!-- <li>
            <a href="/blog" class="hover-link">Blog</a>
          </li> -->
          <li>
            <a href="/profil" class="hover-link">Profil</a>
          </li>
          <li>
            <a href="/portfolio" class="hover-link">Portfolio</a>
          </li>
        </ul>
      </div>
      <div></div>
    </div>
  </button>
</nav>
